@tailwind base;
@tailwind components;
@tailwind utilities;
/* Active Navigation Link */
.active {
	@apply text-second;
  }
  
  .active svg {
	@apply text-second;
  }
.spinner {
	--animation-duration: 1000ms;
}
.spinner-item {
	width: calc(var(--size) / 12);
	width: 5px;
	height: 30%;
	animation: spinner1 var(--animation-duration) ease-in-out infinite;
}

.spinner-item:nth-child(1) {
	animation-delay: calc(var(--animation-duration) / 10 * -3);
}

.spinner-item:nth-child(2) {
	animation-delay: calc(var(--animation-duration) / 10 * -1);
}

.spinner-item:nth-child(3) {
	animation-delay: calc(var(--animation-duration) / 10 * -2);
}

.spinner-item:nth-child(4) {
	animation-delay: calc(var(--animation-duration) / 10 * -1);
}

.spinner-item:nth-child(5) {
	animation-delay: calc(var(--animation-duration) / 10 * -3);
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .hide-scrollbar::-webkit-scrollbar {
	display: none;
  }

  
.smooth-transition {
	transition: all 0.3s ease-in-out;
  }

@keyframes spinner1 {
    50% {
      transform: scaleY(0.25);
    }
}